[MESSAGES CONTROL]

disable=missing-docstring,no-name-in-module,invalid-name,wrong-import-position,line-too-long,locally-disabled,import-error,relative-import,duplicate-code,bare-except,global-statement,no-self-use,bare-except,too-many-locals,len-as-condition,too-many-arguments,pointless-string-statement
